<div class="card">
    <h5 class="card-header">Created By</h5>
    <div class="card-body">
        <h3>Fernando Arellano <a href='https://github.com/farellano91' target="_blank"><button type="button" class="btn btn-dark">GitHub</button></h3></a>

    </div>
</div>